.NavigationItem {
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.NavigationItem a {
    color: rgb(44, 47, 143);
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.NavigationItem a:hover {
    color: rgb(121, 64, 200);
}

.ActiveNavigationItem {
    color: rgb(121, 64, 200);
}

@media (min-width: 500px) {
    .NavigationItem {
        margin: 0;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
    }

    .NavigationItem a {
        color: white;
        height: 100%;
        width: auto;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
    }

    .NavigationItem a:hover {
        background-color: rgb(69, 143, 44);
        border-bottom: 4px solid #40A4C8;
        color: white;
    }

    .ActiveNavigationItem {
        background-color: rgb(69, 143, 44);
        border-bottom: 4px solid #40A4C8;
        color: white;
    }
}